$roboto-font: "Roboto", sans-serif;
$primary-font: "Montserrat", sans-serif;
$title-font: "Poppins", sans-serif;

$max-width-container: 1300px;

/* Colores */
$color_yelow: #F0B70D;
$color_red: #F38160;
$color_black: #403C39;
$color_grey2: #949494;
